body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.calc-card {
  height: 400px;
  width: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 10px 18px #888888;
}
.bg {
  background-color: #dfdfdf;
  padding-bottom: 50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.buttons {
  background-color: #333;
  height: 100vh;
}
button {
  height: 50px;
  width: 50px;
  font-size: 20px;
  margin: 2px;
  background-color: white;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.button1 {
  color: grey;
  font-weight: normal;
}
.button2 {
  color: orangered;
}
.output {
  /* padding-top: 57px; */
  margin: 0px 5px;
  display: flex;
  flex: 1;
  position: absolute;
  top: -1%;
  width: 100%;
}
.output2 {
  width: 100%;
  height: 30px;
  padding-top: 28px;
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.form-sty {
  margin-right: 13px;
  padding-top: 9px;
  display: flex;
  flex: 1;
  margin-bottom: 0px;
}

.placeholder-message {
  display: flex;
  flex: 1;
  text-align: right;
  color: #dfdfdf !important;
  border: 1px solid white;
  outline: none;
}
.placeholder-message1 {
  font-weight: bold;
  color: black !important;
  font-size: 30px;
  width: 100%;
}
.calc-card2 {
  width: 236px;
  background-color: black;
  position: absolute;
  top: 133px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 68px;
  right: 36%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
